<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your booking is confirmed</h1>
    <p>
      Thank you for booking with Flight Booker<br>
    </p>
  </body>
</html>
