<div class="flight-search">
  <%= render partial: 'search_form' %>

  <% if @booking_options %>
    <div class="flight-results">
      <p><strong>Available Flights:</strong></p>
      <%= render partial: 'results_selection_form' %>
    </div>
  <% end %>
</div>

