<div class="flight-container">
  <%= render partial: 'search_form' %>

  <div class="flight-results">
    <p><strong>Available Flights:</strong></p>
    <% if @booking_options %>
      <%= render partial: 'results_selection_form' %>
    <% end %>
  </div>
</div>

