<div class="booking-container">
  <p><strong>Flight Info:</strong></p>
  <% @flights.each do |flight| %>
    <p>
      <%= flight.details %>
    </p>
  <% end %>
  <br />
  <p><strong>Add Passenger Information:</strong></p>
  <%= render partial: 'form' %>
</div>
