<h1>Booking New Page</h1>

<p><strong>Flight Info:</strong></p>
<% @flights.each do |flight| %>
  <p>
    <%= flight.details %>
  </p>
<% end %>

<h3>
  Passenger Information:
</h3>
<%= render partial: 'form' %>
