<div class="booking-section-container">
  <div class="booking-section-title">
    <p class="sub-title">
      <%= pluralize(@booking.passengers.count, "Passenger") %>:
    </p>
  </div>
  <div class="booking-section-summary">
    <% @booking.passengers.each do |passenger| %>
      <p>
        <%= passenger.name %>
      </p>
    <% end %>
  </div>
</div>
<br />
<div class="booking-section-container">
  <div class="booking-section-title">
    <p class="sub-title">
      <%= pluralize(@booking.flights.distinct.count, "Flight") %>:
    </p>
  </div>
  <div class="booking-section-summary">
    <% @booking.flights.distinct.each do |flight| %>
      <%= render partial: 'summary', locals: { flight: flight } %>
    <% end %>
  </div>
</div>
