<h1>Bookings Show</h1>

<div class="booking-results">
  <p>
    Flights:
    <% @booking.seats.each do |seat|%>
      <%= seat.flight.details %>
    <% end %>
  </p>

  <p>
    Passengers:
    <% @booking.passengers.each do |passenger|%>
      <%= passenger.name %>
    <% end %>
  </p>
</div>
