/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --dark-blue: #0047AB;
  --dark-red: #ce0000;
  --font-family: Helvetica, sans-serif;
  --default-spacing: 15px;
  --medium-spacing: 30px;
  --large-spacing: 60px;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: -webkit-fill-available;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background-attachment: fixed;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #0098f0 74%);
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  > * { flex: 0 1 auto; }
}

main {
  background-color: #e4e4e4;
  border-radius: 10px;
  margin: var(--default-spacing);
  padding-top: var(--default-spacing);
  max-width: 960px;
}

.content-container {
  padding: var(--default-spacing);
}

.flash-message {
  color: white;
  text-align: center;
  width: 100%;
}

.notice {
  background-color: var(--dark-blue);
}

.alert {
  background-color: var(--dark-red);
}

p.sub-title {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 0;
}

.error-content {
  color: var(--dark-red);
}

@media (min-width: 425px) {
  main {
    margin: var(--medium-spacing);
    padding-top: var(--medium-spacing);
  }

  .content-container {
    padding: var(--medium-spacing);
  }
}

@media (min-width: 900px) {
  main {
    margin: var(--large-spacing);
    padding-top: var(--large-spacing);
  }

  .content-container {
    padding: var(--large-spacing);
  }
}
