/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --main-dark-blue-color: #2a2a72;
  --main-font-family: Helvetica, sans-serif;
}

html {
  height: -webkit-fill-available;
}

body {
  align-items: flex-start;
  background-attachment:fixed;
  background-color: var(--main-dark-blue-color);
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  color: #333;
  display: flex;
  font-family: var(--main-font-family);
  justify-content: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding: 15px;
  > * { flex: 0 1 auto; }
}

main {
  background-color: #f1f1f1;
  border-radius: 15px;
  height: auto;
  padding-top: 15px;
  width: 75%;
}