// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.booking-container {
  padding: 30px;
}

@media (min-width: 600px) {
  .passenger-container {
    display: flex;
    flex-direction: row;
    > * { flex: 1 1 auto; }
  }

  .booking-container .form-button {
    margin: 0 auto;
  }
}