// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flight-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  > * { flex: 0 1 auto; }
}

.flight-results {
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

@media (min-width: 600px) {
  .flight-container {
    flex-direction: row;
  }

  .flight-results {
    flex: 1 1 auto;
  }
}