<% if flash[:notice]%>
  <div class="flash-message notice">
    <p><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert]%>
  <div class="flash-message alert">
    <p><%= alert %></p>
  </div>
<% end %>
