<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      h1 {
        background-color: #0047AB;
        color: #ffffff;
        padding: 15px;
      }

      .flight-summary {
        margin-left: 15px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
    <p>Flight Booker was proudly created by <%= link_to 'rlmoser', 'https://www.rlmoser.com' %></p>
  </body>
</html>
